@import url('https://fonts.googleapis.com/css2?family=Dynalight&family=Great+Vibes&family=Pacifico&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.gradient-bg {
    background: linear-gradient(125deg, #eb5ac4, #4592ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
