@import url('https://fonts.googleapis.com/css2?family=Dynalight&family=Great+Vibes&family=Pacifico&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dynalight&family=Freeman&family=Great+Vibes&family=Pacifico&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dynalight&family=Freeman&family=Great+Vibes&family=Lobster&family=Pacifico&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
    .active-link {
        @apply duration-150 text-blue-500 md:text-2xl border-b-2 pb-1 border-blue-500
    }
    .nav-item {
        @apply cursor-pointer text-gray-200 hover:text-pink-500 duration-150 md:text-2xl flex flex-col items-center justify-center;
    }
    .file-input {
      @apply relative block w-full py-2 px-4 border border-gray-300 rounded-md shadow-sm bg-white text-gray-700 cursor-pointer;
    }
}

body{
  background-image: url('./assets/user/homeBg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.gradient-bg {
    background: linear-gradient(125deg, #eb5ac4, #4592ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-text {
    background: linear-gradient(125deg, #f850cb, #3785f1, #ee43c0);
    background-size: 200% 200%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: gradient-animation 5s ease infinite;
  }
  
  .gradient {
    background: linear-gradient(to right, #ec4899, #3b82f6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  #otp-form{
    border: 2px solid transparent;
    border-radius: 0.5rem; 
    padding: 1.75rem; 
    background: linear-gradient(#1c1c1c, #000) padding-box, 
                linear-gradient(to right, rgb(147, 15, 118),rgb(57, 57, 248)) border-box;
    text-align: center;
  }
  #profileCard{
    border: 2px solid transparent;
    border-radius: 0.5rem; 
    background: linear-gradient(#1c1c1c, #000000) padding-box, 
                linear-gradient(to right, rgb(147, 15, 118),rgb(57, 57, 248)) border-box;
    text-align: center;
  }

  input[type="file"]::file-selector-button {
    border: 2px solid #282734;
    border-radius: 0.2em;
    background-color: #100f15;
    color: white;
  }
  
  input[type="file"]::file-selector-button:hover {
    background-color: #121616;
    cursor: pointer;
  }

  .swal2-popup {
    background-color: #292f32 !important;
  }
  .swal2-title {
    color: #fff !important;
  }
  .swal2-icon{
    color: rgb(234, 72, 72) !important;
  }
  .swal2-icon.swal2-warning{
    border-color: rgb(234, 72, 72) !important;
  }
  #swal2-content{
    color: rgb(139, 139, 139) !important;
  }
  .swal2-icon.swal2-success .swal2-success-ring{
    border-color: rgb(64, 158, 64);
  }
  .swal2-icon.swal2-success.swal2-icon-show .swal2-success-line-long {
    background-color: rgb(64, 158, 64);
  }
  .swal2-icon.swal2-success.swal2-icon-show .swal2-success-line-tip {
    background-color: rgb(64, 158, 64);
  }
  .swal2-confirm-button {
    background-color: #3085d6 !important;
    color: #fff !important;
  }
  .swal2-cancel-button {
    background-color: #d33 !important;
    color: #fff !important;
  }
  .swal2-html-container{
    color: rgb(154, 153, 153) !important;
  }
  .swal2-input::placeholder {
    color: rgb(87, 86, 86) !important;
  }
  .swal2-input{
    color: white;
  }

  @layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
}

@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
