@import url('https://fonts.googleapis.com/css2?family=Dynalight&family=Great+Vibes&family=Pacifico&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
    .active-link {
        @apply duration-200 text-blue-500 md:text-xl
    }
    .nav-item {
        @apply cursor-pointer text-gray-200 hover:text-pink-500 duration-100 md:text-2xl flex flex-col items-center justify-center;
    }
}

.gradient-bg {
    background: linear-gradient(125deg, #eb5ac4, #4592ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
